<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//db.onlinewebfonts.com/c/125b05a4c16d6d448a21b045c0226b04?family=OcrA" rel="stylesheet" type="text/css"/>
</head>
<body>
    <br><br><br><br>
      <!-- <div class="text-center">
         <h1 class="display-4">CALCULADORA</h1><br /><br />    
      </div> -->
     <table>
         <tr>
            <td  colspan="4"><input id="resultado2" class="cajat1" [(ngModel)]="pant2" type="text"></td>
         </tr>
         <tr>
            <td colspan="4"><input id="resultado" class="cajat" [(ngModel)]="pant1" type="number"></td>
         </tr>
         
         <tr>
            <td><button onclick="porcentaje()"  class="boton" type="button"><strong>%</strong></button></td>
            <td><button onclick="borrarce()" class="boton" type="button"><strong>CE</strong></button></td>
            <td><button onclick="borrarc()" class="boton" type="button"><strong>C</strong></button></td>
            <td><button onclick="borraruno()" class="boton" type="button"><strong>⌫</strong></button></td>
         </tr>
         <tr>
            <td><button onclick="unopor()" class="boton" type="button"><strong>1/X</strong></button></td>
            <td><button onclick="pordos()" class="boton" type="button"><strong>X2</strong></button></td>
            <td><button onclick="raiz()" class="boton" type="button"><strong>SQRT</strong></button></td>
            <td><button onclick="division()" class="boton" type="button"><strong>/</strong></button></td>
         </tr>
         <tr>
            <td><button onclick="siete()" (click)="num7()" class="boton" type="button"><strong>7</strong></button></td>
            <td><button onclick="ocho()" (click)="num8()" class="boton" type="button"><strong>8</strong></button></td>
            <td><button onclick="nueve()" (click)="num9()" class="boton" type="button"><strong>9</strong></button></td>
            <td><button onclick="multiplicacion()" class="boton" type="button"><strong>X</strong></button></td>
         </tr>
         <tr>
            <td><button onclick="cuatro()" (click)="num4()" class="boton" type="button"><strong>4</strong></button></td>
            <td><button onclick="cinco()" (click)="num5()" class="boton" type="button"><strong>5</strong></button></td>
            <td><button onclick="seis()" (click)="num6()" class="boton" type="button"><strong>6</strong></button></td>
            <td><button onclick="menos()"  class="boton" type="button"><strong>-</strong></button></td>
         </tr>
          <tr>
            <td><button  onclick="uno()" (click)="num1()" class="boton" type="button"><strong>1</strong></button></td>
            <td><button  onclick="dos()" (click)="num2()" class="boton" type="button"><strong>2</strong></button></td>
            <td><button  onclick="tres()" (click)="num3()" class="boton" type="button"><strong>3</strong></button></td>
            <td><button  onclick="suma()" (click)="suma()" class="boton" type="button"><strong>+</strong></button></td>
         </tr>
          <tr>
            <td><button onclick="sumaresta()" class="boton" type="button"><strong>+/-</strong></button></td>
            <td><button onclick="cero()" class="boton" type="button"><strong>0</strong></button></td>
            <td><button onclick="decimal()" class="boton" type="button"><strong>.</strong></button></td>
            <td><button onclick="igual()" (click)="igual()" class="boton" type="button"><strong>=</strong></button></td>
         </tr>
     </table>
</body>
</html>

 