<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//db.onlinewebfonts.com/c/125b05a4c16d6d448a21b045c0226b04?family=OcrA" rel="stylesheet" type="text/css"/>
</head>
<body>
    <br><br><br><br>
      <!-- <div class="text-center">
         <h1 class="display-4">CALCULADORA</h1><br /><br />    
      </div> -->
     <table>
         <tr>
            <td  colspan="4"><input id="resultado2" class="cajat1" [(ngModel)]="pant2" type="text"></td>
         </tr>
         <tr>
            <td colspan="4"><input id="resultado" class="cajat" [(ngModel)]="pant1" type="text" placeholder="0"></td>
         </tr>
         
         <tr>
            <td><button  (click)="porc()" class="boton" type="button"><strong>%</strong></button></td>
            <td><button  (click)="borrarCE()" class="boton" type="button"><strong>CE</strong></button></td>
            <td><button  (click)="borrarC()" class="boton" type="button"><strong>C</strong></button></td>
            <td><button  (click)="borrarUNO()" class="boton" type="button"><strong>⌫</strong></button></td>
         </tr>
         <tr>
            <td><button  class="boton" type="button"><strong>1/X</strong></button></td>
            <td><button  class="boton" type="button"><strong>X2</strong></button></td>
            <td><button  class="boton" type="button"><strong>SQRT</strong></button></td>
            <td><button  (click)="div()" class="boton" type="button"><strong>/</strong></button></td>
         </tr>
         <tr>
            <td><button  (click)="num7()" class="boton" type="button"><strong>7</strong></button></td>
            <td><button  (click)="num8()" class="boton" type="button"><strong>8</strong></button></td>
            <td><button  (click)="num9()" class="boton" type="button"><strong>9</strong></button></td>
            <td><button  (click)="mul()" class="boton" type="button"><strong>X</strong></button></td>
         </tr>
         <tr>
            <td><button  (click)="num4()" class="boton" type="button"><strong>4</strong></button></td>
            <td><button  (click)="num5()" class="boton" type="button"><strong>5</strong></button></td>
            <td><button  (click)="num6()" class="boton" type="button"><strong>6</strong></button></td>
            <td><button  (click)="resta()" class="boton" type="button"><strong>-</strong></button></td>
         </tr>
          <tr>
            <td><button   (click)="num1()" class="boton" type="button"><strong>1</strong></button></td>
            <td><button   (click)="num2()" class="boton" type="button"><strong>2</strong></button></td>
            <td><button   (click)="num3()" class="boton" type="button"><strong>3</strong></button></td>
            <td><button   (click)="suma()" class="boton" type="button"><strong>+</strong></button></td>
         </tr>
          <tr>
            <td><button  class="boton" type="button"><strong>+/-</strong></button></td>
            <td><button  (click)="num0()" class="boton" type="button"><strong>0</strong></button></td>
            <td><button  (click)="decimal()" class="boton" type="button"><strong>.</strong></button></td>
            <td><button  (click)="igual()" class="boton" type="button"><strong>=</strong></button></td>
         </tr>
     </table>
</body>
</html>

 